/build_local
*.class
/fitsBasicTestOutput.xml
CVS
TAGS
/target
/test-output
/output.txt
#Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.DS_Store

#Maven
target/

#Roo
log.roo
/help.py
/lib
/qwe.txt
/tempfitsfile
/logFile.log
/bin
/doc
